body{
  margin: 0;
  padding: 0;
}
div{
  overflow: visible;
  position: relative;
}
.esquerra{
float: left;
clear: left;
}
.dreta{
  float: right;
  clear: right;
}
.cap{
  width: 500px;
  height: 800px;
  background-color: gold;
  margin: 0 auto;
  border-radius: 100px 100px 200px 200px;
}

.pel{
  height: 200px;
  background-color: black;
  border-radius: 100px 100px 0 0;
}

.ulls{
  height: 190px;
  background-color: ;
}

.celles{
  height: 20px;
  background-color: ;
  clear: both;
}
.cella{
  width: 200px;
  height: 20px;
  background-color: brown;
  margin: 0 25px;
}

.parpelles{
  height:100px;
  background-color: ;
  margin: 0;
}
.parpella{
  width: 80px;
  height: 110px;
  background-color: orange;
  margin: 0 75px;
}
.pestanyes{
  height: 100px;
  background-color:;
  margin: 0 75px;

}
.pestanya{
height: 90px;
width: 80px;
background-color:black;
margin: 0;
bottom: 100px;
}
.pest_esqu{
  left: 00px;
}
.irisos{

}
.iris{
  width: 80px;
  height: 70px;
  background-color: orange;
  bottom: 180px;
  margin: 0 75px;
}
.pupilas{
height: 50px;
background-color:;
}
.pupila{
  width: 30px;
  height: 30px;
  background-color: yellow;
  margin: 0 100px;
  bottom: 230px;
  border-radius: 100px;
}
.nas{
  width: 50px;
  height: 100px;
  background-color: orange;
  margin: 0 auto;
  border-radius: 20px;
  bottom: 40px;
}
.foratnas{
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 100px;
  margin: 0 5px 0 5px;
  bottom: 170px;
}
.orella{
  height: 120px;
  width: 40px;
  background-color:green;
  bottom: 170px;
  margin: 0 -40px;
}
.ore_dret{
  border-radius: 0 50px 50px 0;
}
.ore_esqu{
 border-radius: 50px 0 0 50px;
}
.boca{
  width: 170px;
  height: 180px;
  left: 160px;
  top: 60px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  border-radius: 100px;
  box-shadow: 0 30px grey;
}
